# No subir archivos del sistema operativo
.DS_Store
Thumbs.db
desktop.ini

# No subir carpetas de editores
.vscode/
.idea/
*.swp
*.swo

# Logs
*.log

# Si en algún momento usas Node.js
node_modules/
npm-debug.log*
